body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#addTask {
  display: flex;
  justify-content: space-between;
}

#description {
  display: flex;
  justify-content: center;
  padding-top: 15px;

  textarea {
display: flex;
width: 500px;
height: 300px;
  }
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: auto;
}

.task-card:hover {
  cursor: grab;
}
